.body{

    grid-template-columns: 45px 1fr 45px;
    height: 100%;
    width: 100%;
    display: grid;
   
    .aside_name{
        
    margin:60px 0px; 
    font-size: 35px;
    writing-mode: vertical-rl;
    text-align: center;
    }
    .aside_1{
        grid-column: 1/1;
        background-color:  #CCD1D1 ;
        color: #151414 ;
        .link_skills{
            list-style: none;
            text-decoration: none;
        }
    }
    .section{
        grid-column: 2/2;
        height: 550px;
        
        
    }
    .aside_2{
        grid-column: 3/3;
        background-color: #151414 ;
        color: #F3F1F1 ;
    }
 


}