.header{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    h1{
      font-size: 50px;
    }
    .nav{
        ul{
        display: flex;
        justify-content: space-around;
        
        li{
            list-style: none;
            margin: 7%;
         .link{ 
            text-decoration: none;
         }       
        }
        }
    }


}
@media screen and (max-width:1200px){
  .header{
    flex-direction: column;
   
}
}
@media screen and (max-width:450px){
    .header{
     h1{
       font-size:25px ;
     }
      .nav{
        ul{
        flex-wrap:wrap;
      }  
    }

  }
}