.header{
    height: 200px;
    width: 100%;
    display:flex;
    justify-content: space-around;
flex-wrap: wrap;
    .nav{
        ul{
        display: flex;
        justify-content: space-around;
        
        li{
            list-style: none;
            margin: 7%;
         .link{ 
            text-decoration: none;
         }       
        }
        }
    }


}