@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.body_exp{

    width: 100%;
    height: 100%;
    background-color: #34495E;
    display: flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    
article{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: 20px;
    h1{
        font-size: 40px;
        margin-bottom: 30px;
        color: #1A1B1C;
        font-family: 'Roboto Condensed', sans-serif;
    }
    p{
        font-size: 24px;
        width: 60%;
        color: #F2F3F4;
        font-family: 'Roboto Condensed', sans-serif;
        a{  
            color: #7FB3D5;
            margin-left: 5px;
            text-decoration: none;
        }
    }
}

}